<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

div {	width: 200px; height: 100px; }

#div1 {
	border: 1px solid red;
	float: left;
}

#div2 {
	border: 1px solid blue;
	float: right;
}

#div3 {
	border: 1px solid green;
	margin: 20px;
}

.clearbox {
	width: 0;
	height: 0;
	
	clear: both;
}

</style></head><body>

<div id="div1">DIV1 요소</div>
<div id="div2">DIV2 요소</div>

<div class="clearbox"></div>

<!-- <div id="div3">DIV3 요소</div> -->
<div id="div3"><span>DIV3 요소DIV3 요소DIV3 요소DIV3 요소</span></div>



















<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>




