<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

span {
	font-size: 30px;
}

#span1 {
	background: red;
	float: left;
}

#span2 {
	background: blue;
	float: right;
}

div {
	width: 600px;
	
	text-align: center; /* 내부 컨텐츠 가운데 정렬 */
	
	margin: 0 auto; /* 외부 여백 좌우 반절씩 배치 */
	
	/* block 요소를 가운데 정렬하려면 margin: 0 auto를 사용한다 */
	
	/* block 요소의 내부 정렬 : text-align */
	/* block 요소의 외부 정렬 : margin */
}

</style></head><body>

<div>
	<span id="span1">SPAN1</span>
	<span id="span2">SPAN2</span>
	<span id="span3">안녕!</span>
</div>
















<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>




