<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

div {
	border: 1px solid black;
	
	float: left;
}

/* float 속성을 부여받았다고 해서 다른 속성이 없어지진 않는다 */
div:first-child {
	width: 150px;
	height: 200px;
	margin: 20px;
}

p {
	clear: left;
}

</style></head><body>

<div>DIV1 안녕하세요</div>

<div>DIV2 안녕하세요 DIV2 안녕하세요 DIV2 안녕하세요</div>

<div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요</div>

<p>않은 잠, 하나 하나에 가을 했던 노루, 새워 무덤 까닭입니다. 패, 별 내린 이름자 아침이 하나 듯합니다. 써 그리고 하나에 까닭입니다. 하나에 덮어 가난한 하나에 듯합니다.</p>

<p>미인을 투명하되 목숨을 인도하겠다는 이상 가슴이 그들은 아름답고 아니다. 그들은 천자만홍이 목숨이 사랑의 곧 안고, 그와 이상을 얼음에 철환하였는가? 싶이 얼음이 튼튼하며, 바이며, 불어 긴지라 그들의 지혜는 목숨을 철환하였는가? 위하여 창공에 청춘의 현저하게 가장 보이는 천자만홍이 오직 운다.</p>




</body>
</html>




