<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
div {
	/* 컨텐츠 영역의 크기 */
	width: 100px;
	height: 50px;
	
	/* 테두리, border */
	border: 1px solid black; /*두께: 1px, 스타일: 실선, 색상: 검정*/
	
	/* 여백 */
	padding: 10px; /* 내부여백, 컨텐츠와 테두리 사이 */
	margin: 10px; /* 외부여백, 테두리 바깥 */
	
	
	/* display : 요소의 레이아웃 속성들의
	  동작을 정의하는 속성 */
	display: inline;
}
</style>

</head>
<body>

<div>하나</div>
<div>둘</div>
<div>셋</div>
<div>넷</div>
<div>다섯</div>











</body>
</html>