<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- di.xml.Car 클래스의 객체를 car라는 이름의 Spring Bean으로 등록 -->
	<bean id="car" class="di.xml.Car" />
	
	<!-- di.xml.Tire 인터페이스의 구현 객체 -->
	<bean id="gTire" class="di.tire.GoldTire" />
	<bean id="sTire" class="di.tire.SilverTire" />

</beans>
